<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>888561835044-q6e55cpob9p4afiqrlu63j5ulplgcbof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.888561835044-q6e55cpob9p4afiqrlu63j5ulplgcbof</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>888561835044-kmr16ibgt2fjn97s6tauv82262ousema.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC14ean1YYS-0IV0VzkPZS4cbYGm5TLhzI</string>
	<key>GCM_SENDER_ID</key>
	<string>888561835044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.userMitti</string>
	<key>PROJECT_ID</key>
	<string>sih-23</string>
	<key>STORAGE_BUCKET</key>
	<string>sih-23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:888561835044:ios:c5a2ff8477b6ca7d924cb1</string>
	<key>DATABASE_URL</key>
	<string>https://sih-23-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>